<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

    <!--1.注解扫描-->
    <context:component-scan base-package="cn.xuguowen.controller"/>

    <!--2.显示的配置处理器映射器和处理器适配器,并且支持json字符串的读写-->
    <mvc:annotation-driven/>

    <!--3.视图解析器：由于本项目是前后端分离项目，使用json字符串进行传递数据，是不涉及到跳转页面的-->


    <!--4.放行所有的静态资源-->
    <mvc:default-servlet-handler/>

    <!--5.配置文件上传解析器-->
    <!--需要注意的是：id的值必须是multipartResolver 不能随便起名字-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--设置文件上传的最大值为 1M -->
        <property name="maxUploadSize" value="1048576"></property>
    </bean>
</beans>